
@{
  Layout = "_Layout";
}

@model RestaurantsCuisines.Models.Cuisine

<h2>Add a restaurant</h2>

<h4>Add a restaurant to this cuisine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.Label("Select restaurant")
  @Html.DropDownList("RestaurantId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>